@page "/UpdateProgramFromReport"

<h3>Update Program From Report</h3>

<NRGsystemsProgrammer.Components.Pages.Programs.CreateProgram></NRGsystemsProgrammer.Components.Pages.Programs.CreateProgram>
<ReportPage></ReportPage>

@code {

}
