@page "/UpdateProgramFromReport"

<h3>Update Program From Report</h3>

<NRGSystemsWebSite.Components.Pages.Programs.CreateProgram></NRGSystemsWebSite.Components.Pages.Programs.CreateProgram>
<ReportPage></ReportPage>

@code {

}
