@page "/"

<PageTitle>Home</PageTitle>
<table>
    <tr style="justify-content: center">
        <img src="https://nrgptappstorage.blob.core.windows.net/appimages/nrglogo.png"
             width="750" />
    </tr>
</table>
