<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color:black">REAL STEEL </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon" ></span>
        </button>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="@NavMenuCssClass nav-scrollable" style="color:black" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView Roles="administrator, user">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clients
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator, client, user">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="muscles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Muscles
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator, client, user">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exercises/all">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Exercises
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="HeartRateList">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Get Heart Rate Data
        </NavLink>
        </div> *@


        <AuthorizeView Roles="administrator">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createProgram">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create Program
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="client">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClientsProgramList">
                <span class="oi oi-plus" aria-hidden="true"></span> Programs
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="administrator">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProgramList">
                <span class="oi oi-plus" aria-hidden="true"></span>All Programs
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewClientsProgramList">
                <span class="oi oi-plus" aria-hidden="true"></span> Clients Programs
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator, client">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Messages
            </NavLink>
        </div>
                    </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator, client">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UpdateProgramFromReport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Update Program
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator, client, user">
            <Authorized>
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bookingCalendar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bookings
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
